

<a href='/projects/new'>投稿する</a>
<section id='index'>
<% @projects.each do |project| %>
  <div class='project'>
    <%= project.name %>
    <% project.tasks.each do |task|%>
      <div class='task'>
      <%= task.name %>
        <% task.items.each do |item|%>
          <div class='item'>
            <div>
              <% if item.task_id  == task.id%>
                <%= item.name %>
              <% end %>
            </div>   
           
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
</section>